# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Ansible sensitive files
vault.pass
inventory.ini
pass.yml

# Ignore system-specific files
.DS_Store
*.log
*.swp
*.tmp
